#!/usr/bin/make -f

export QT_SELECT := QT6.4.2

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

DEB_BUILDDIR = Build_debian
DEB_QMAKE_ARGS = $(CURDIR)/PicsDL/PicsDL.pro "BUILD_NUMBER_UPDATE=false"
